body {
  background-color: black;
  color: #00ff00;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#puzzle-area {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 5px;
  margin-bottom: 20px;
}

#puzzle-area div {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  font-size: 24px;
  background-size: cover;
}

button {
  background-color: #333;
  color: #00ff00;
  border: 1px solid #00ff00;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #00ff00;
  color: black;
}

#sukses {
  font-size: 24px;
  color: #00ff00;
  font-weight: bold;
  display: none;
  text-align: center;
}

#sukses img {
  margin-top: 20px;
  width: 300px;
  height: 400px;
}
